- @screens.each do |screen|
  .col-xl-12.col-md-6.mb-4
    .card{class: "shadow border-left-warning"}
      .card-header.py-3
        .row
          .col-10
            %span.text.mb-0.font-weight-bold.text-secondary=screen.name
          .col-2.float-right
            = link_to new_admin_screen_show_path(screen.id, date: params[:date]), {class: 'btn btn-sm btn-success btn-circle'} do
              %i.fa.fa-plus{title: "Add a Show"}

      .card-body
        - shows = screen.shows.public_send("filter_by_date", date)
        - if shows.present?
          - shows.each do |show|
            .row.no-gutters.align-items-center.mb-1
              .col-3
                .text.text-info= Show::TIMINGS.as_json[show.time_slot]
              .col-4
                .text.font-weight-bold.text-secondary.mb-1=show.movie.name
              .col-2
                .text.font-weight-bold.text-secondary.mb-1="#{show.bookings.count} Seats Booked"
              .col-2
                %a.btn.btn-warning.btn-icon-split{:href => admin_screen_show_seats_path(screen.id, show.id, format: "csv")}
                  %span.icon.text-white-50
                    %i.fa.fa-download
                  %span.text Download CSV
        - else
          .row.no-gutters.align-items-center.mb-1
            .col-3
              .text.font-weight-bold.text-info.mb-1 No Shows Scheduled Yet. Add Now
            .col-1
              = link_to new_admin_screen_show_path(screen.id, date: params[:date]), {class: 'btn btn-sm btn-success btn-circle'} do
                %i.fa.fa-plus{title: "Add a Show"}
