.card.shadow.mb-4.mt-4
  .card-header.py-3
    .row
      .col-lg-10
        %h3.text.m-0.font-weight-bold.text-info Multiplex Screens - Show details
      .col-lg-2
        = link_to root_path, {class: 'btn btn-warning btn-circle float-right'} do
          %i.fa.fa-home{title: "Home"}
        = link_to destroy_user_session_path, method: :delete, class: "nav-link text-danger float-right" do
          %i.fa.fa-power-off
          %span Logout
    .row.mt-4
      .col-1.text-secondary.font-weight-bold.float-right
        Date:
      .col-2
        = date_field_tag "date", params[:date], class: 'form-control', disabled: false


  .card-body#screenDetails
    = render partial: 'show_details', locals: {date: params[:date]}

:javascript
  $("#date").on('change', function(){
    get_shows();
  });

  function get_shows(){
    date = $("#date").val()
    $.ajax({
      url: "/admin/screens?date=" + date,
      type: "GET",
      success:function(data){
      }
    })
  }
