.modal-header
  %h4#myModalLabel.modal-title Add a Movie
  %button.close{"data-dismiss" => "modal", :type => "button"} x
.modal-body
  = simple_form_for @movie, url: admin_movies_path(date: params[:date]) do |f|
    .form-group.row
      .col-sm-12.mb-3.mb-sm-0
        = f.text_field :name, label: false, placeholder: "Movie Name", class: "form-control", required: true
    = f.submit "Add", class: 'btn btn-user btn-primary btn-block'
