#play_list
  .card.shadow.mb-4.mt-4.border-left-primary.border-bottom-primary
    .card-header
      .row
        .col-lg-10
          %h6.m-0.font-weight-bold.text-info Shows
    .card-body
      .table-responsive
        %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
          %thead
            %tr
              %th Movie
              %th Timings
              %th Available Seats
              %th Book
          %tbody
            - @shows.each do |show|
              %tr
                %td= show.movie.name
                %td= Show::TIMINGS.as_json[show.time_slot]
                %td= 100 - show.bookings.count
                %td
                  = link_to 'Book My Movie', new_show_booking_path(show.id),  {class: 'btn btn-info btn-sm'}
